.edit-todo-content {
  padding: 20px;
  height: 100%;
}

ion-textarea {
  font-size: 18px;
  width: 100%;
  height: 100%;
}

ion-button {
  --padding-start: 16px;
  --padding-end: 16px;
  font-size: 18px;
  font-weight: bold;
}

ion-button.cancel-button {
  --background: #E5E5E5;
  --color: #333333;
}

ion-button.save-button {
  --background: #007BFF;
  --color: #FFFFFF;
}
