<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Completed Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Completed Tasks</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngFor="let todo of completedTodos" (click)="openActionSheet(todo)">
      <!-- <ion-card-header [color]="'primary'"> -->
      <ion-card-header [color]="todo.completed ? 'danger' : 'primary'">
        <ion-card-title>{{ todo.todo }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
