<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Todo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Todo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list class="todo-list">
    <ion-item>
      <ion-label id="todoLabel" class="visually-hidden">Enter your Todo</ion-label>
      <ion-textarea
        id="todotext"
        [(ngModel)]="todoText"
        placeholder="Enter your Todo"
        autocorrect="on"
        rows="10"
        required
        aria-labelledby="todoLabel"
      ></ion-textarea>
    </ion-item>
    
  </ion-list>

  <div class="button-container">
    <ion-button class="save-button" (click)="saveTodo()" aria-label="Add Todo">ADD</ion-button>
  </div>
</ion-content>
