<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Completed Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Completed Tasks</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card class="todo-card" *ngFor="let todo of completedTodos" (click)="openActionSheet(todo)">
      <!-- <ion-card-header [color]="'danger'"> -->
      <ion-card-header class="card">
        <ion-card-title class="todo-title">{{ todo.todo }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
